@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #eae8fb;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --color-icon: black;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  background: var(--body-color);
  height: 100vh;
  transition: var(--tran-05);
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --color-icon: white;
}

/* ====== NavBar ====== */

.navbar {
  background: var(--sidebar-color);
  /* background-color: red; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  height: 7%;
  transition: var(--tran-05);
  border-bottom: 2px solid var(--primary-color-light);
}

.navbar,
.navbar .nav-links {
  display: flex;
  align-items: center;
}

.navbar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  white-space: nowrap;
  opacity: 1;
}

.navbar li {
  height: 40px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  width: 30%;
  margin-bottom: 10px;
}

.navbar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
  color: var(--color-icon);
}

.navbar li .icon,
.navbar li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}

.navbar li a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  transition: var(--tran-02);
  border-radius: 6px;
  padding-right: 20px;
}

.navbar {
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.navbar .logo {
  font-size: 22px;
  font-weight: 800;
  cursor: pointer;
}

.navbar .nav-links {
  column-gap: 5px;
  list-style: none;
}

.navbar .nav-links a {
  transition: var(--tran-04);
}

.navbar.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}

.navbar .search-icon {
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
  padding-left: 0;
}

.navbar .search-icon-1 {
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
  margin-right: 100px;
}

.navbar .nav-search-box {
  position: absolute;
  right: 460px;
  height: 45px;
  max-width: 600px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: var(--tran-04);
}

.navbar.openSearch .nav-search-box {
  opacity: 1;
  pointer-events: auto;
}

.nav-search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  color: var(--text-color);
  transform: translateY(-50%);
}

.nav-search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--primary-color-light);
  padding: 0 15px 0 45px;
  color: var(--text-color);
}

.navbar .navOpenBtn,
.navbar .navCloseBtn {
  display: none;
}

.navbar li a:hover {
  background: var(--primary-color);
}

.navbar li a:hover .icon,
.navbar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .navbar li a:hover .icon,
body.dark .navbar li a:hover .text {
  color: var(--text-color);
}

/* responsive */
@media screen and (max-width: 1160px) {
  .navbar {
    padding: 15px 100px;
  }
  .navbar .nav-search-box {
    right: 150px;
  }
}

@media screen and (max-width: 950px) {
  .navbar {
    padding: 15px 50px;
  }
  .navbar .nav-search-box {
    right: 100px;
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .navbar .navOpenBtn,
  .navbar .navCloseBtn {
    display: block;
  }

  .navbar li {
    height: 50px;
    margin-top: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    width: 80%;
  }

  .navbar li a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-02);
    padding-right: 0px;
  }

  .navbar .nav-links {
    position: fixed;
    top: 7%;
    right: -100%;
    height: 100%;
    max-width: 306px;
    width: 100%;
    padding-top: 90px;
    flex-direction: column;
    background-color: var(--sidebar-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: var(--tran-04);
    border-left: 2px solid var(--primary-color-light);
  }

  .navbar.openNavbar .nav-links {
    right: 0;
  }

  .navbar .navOpenBtn {
    font-size: 20px;
    cursor: pointer;
    color: var(--text-color);
    right: 50px;
  }

  .navbar .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    color: var(--text-color);
  }

  .navbar .nav-search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    padding-left: 90px;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .navbar.openSearch ~ .home {
    top: 110px;
    right: 200px;
    width: calc(100%- (88px+50px));
  }
}
/* ====== Sidebar ====== */
.sidebar {
  position: fixed;
  top: 7%;
  left: 0;
  height: 93%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
  border-right: 2px solid var(--primary-color-light);
}

.sidebar.close {
  width: 88px;
}

/* ====== Resuable CSS ====== */
.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-04);
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  display: none;
}

.sidebar .image-container {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
  color: var(--color-icon);
}

.sidebar li .icon .sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}

.sidebar header {
  position: relative;
  height: 40px;
}

.sidebar.close header{
  height: 38px;
}

.sidebar .image-text img {
  border-radius: 50%;
  align-items: center;
  border: 2px solid var(--primary-color-light);
  position: absolute;
  left: 10px;
  top: 0;
  object-fit: cover;
  width: 40px;
  height: 40px;
  transition: var(--tran-05);
}



.sidebar header .image-text {
  display: flex;
  align-items: center;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
}

.header-text .proffesion {
  margin-top: -2px;
}

.sidebar header .toggle {
  position: absolute;
  top: 25px;
  right: -12.5px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background: var(--toggle-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: var(--text-color);
  font-size: 12px;
  transition: var(--tran-03);
  cursor: pointer;
}

.sidebar.close header .toggle {
  transform: translateY(-50%);
  border-radius: 50%;
  right: -25px;
}



body.dark .sidebar header .toggle {
  color: var(--text-color);
  background: var(--primary-color);
}

.sidebar header .toggle:hover {
  color: var(--sidebar-color);
  background-color: var(--text-color);
}

body.dark .sidebar header .toggle:hover {
  background-color: var(--text-color);
  color: var(--sidebar-color);
}

.sidebar .menu {
  margin-top: 35px;
}

.sidebar .search-box {
  background: var(--primary-color-light);
  border-radius: 6px;
  transition: var(--tran-05);
}

.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  background: var(--primary-color-light);
  transition: var(--tran-05);
  color: var(--text-color);
}

.sidebar li a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  transition: var(--tran-02);
}

.sidebar li a:hover {
  background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: var(--tran-05);
}

.menu-bar .mode {
  position: relative;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}

.menu-bar .mode i {
  position: absolute;
}

.menu-bar .mode i.sun {
  opacity: 0;
  transition: var(--tran-02);
}

body.dark .menu-bar .mode i.sun {
  opacity: 1;
}

body.dark .menu-bar .mode i.moon {
  opacity: 0;
}

.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: var(--toggle-color);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: var(--sidebar-color);
  transition: var(--tran-03);
}

body.dark .switch::before {
  left: 50%;
}

.home {
  position: fixed;
  height: 100%;
  top: 7%;
  left: 250px;
  right: 0;
  width: calc(100%-250px);
  background: var(--body-color);
  /* background-color: red; */
  transition: var(--tran-05);
  align-items: center;
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 8px 40px;
}

.sidebar.close ~ .home {
  left: 88px;
  width: calc(100%-88px);
}

.sidebar .menu {
  border-bottom: 1px solid var(--primary-color-light);
}

.sidebar .bottom-content {
  border-top: 1px solid var(--primary-color-light);
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1001;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 30px 10px;
}

.popup__content {
  background-color: var(--body-color);
  color: var(--text-color);
  max-width: 800px;
  padding: 30px;
  border-radius: 6px;
  position: relative;
  border: 2px solid var(--primary-color-light);
  flex-direction: column;
  justify-content: center;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--text-color);
}

.popup__title {
  font-size: 40;
  margin: 1em;
}

.popup .input-box {
  border-radius: 8px;
  font-size: 13px;
  width: auto;
  margin: 8px 0;
  display: flex;
}

.popup .input-box input {
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border: none;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.popup .input-box input.text {
  overflow-wrap: break-word;
  text-align: left;
  word-wrap: break-word;
}

.popup button {
  background-color: var(--sidebar-color);
  color: var(--text-color);
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.popup button:hover {
  background: var(--primary-color);
  color: var(--primary-color-light);
  transition: all 0.5s ease;
}

body.dark .popup button:hover {
  color: var(--text-color);
}

.home_1 {
  position: fixed;
  height: 100%;
  top: 7%;
  left: 250px;
  right: 0;
  width: calc(100%-250px);
  background: var(--body-color);
  transition: var(--tran-05);
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.home_1 .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 8px 40px;
  align-items: center;
  justify-content: center;
}

.sidebar.close ~ .home_1 {
  left: 88px;
  width: calc(100%-88px);
}

.home_1:target {
  opacity: 1;
  visibility: visible;
}


.file-upload-label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  left: 70px;
}

.file-upload-label img {
  width: 70px; 
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--primary-color-light);
}

/* Стили для инпута (скрытого) */
#avatar {
  display: none;
}

.home_container{
  max-width: 330px;
  position: relative;
  width: 100%;
  background-color: var(--sidebar-color);
  box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
  border-radius: 8px;
  padding: 15px;
  margin: 85px;
  border: 1px solid var(--primary-color-light);
}

.home_container .input-field{
  /* color: var(--text-color); */
  position: relative;
  height: 40px;
  width: 100%;
}

.input-field textarea{
  color: var(--text-color);
  height: 100%;
  width: 100%;
  background-color: var(--sidebar-color);
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  padding: 10px 25px 10px 10px;
  border: 1px solid var(--primary-color-light);
  resize: none;
}

.input-field textarea:focus{
  border: 2px solid var(--toggle-color);
  background-color: var(--sidebar-color);
}

.input-field textarea:focus ~ .note-icon{
  color: var(--text-color)
}

textarea::-webkit-scrollbar{
  display: none;
}

.input-field .note-icon{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 15px;
  color: var(--color-icon);
  pointer-events: none;
}

.home_container .todoList{
  max-height: 420px;
  overflow-y: auto;
}

.todoList::-webkit-scrollbar-track {
  border: 1px solid var(--primary-color-light);
  border-radius: 6px;
  padding: 2px 0;
  background-color: var(--body-color);
}
.todoList::-webkit-scrollbar {
  width: 10px;
}
.todoList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--primary-color);
  border: 1px solid var(--text-color);
}

.todoList .list{
  display: flex;
  align-items: center;
  list-style: none;
  background-color: var(--sidebar-color);
  padding: 20px 15px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  border: 0.1em solid var(--color-icon);
  margin-right: 5px;
}

.todoList .list input{
  height: 16px;
  min-width: 16px;
  accent-color: green ;
  cursor: pointer;
  position: relative;
}


.todoList .list i{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 12px;
  color: var(--color-icon);
  cursor: pointer;
  padding: 5px;
  opacity: 0.6;
  display: none;
  border: 1px dashed var(--color-icon);
  border-radius: 50%;
  padding: 6px;
}

.todoList .list:hover i{
  display: inline-flex;
}

.todoList .list i:hover{
  color:var(--text-color);
  opacity: 1;
}

.home_container .pending-tasks{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 15px ;
}

.pending-tasks{
  color: var(--text-color)
}


 .listbtn{
  display: flex;
  align-items: center;
  list-style: none;
  background-color: var(--sidebar-color);
  padding:10px;
  border-radius: 8px;
  position: relative;
  margin-top: 10px;
}

.add-task{
  width: 100%;
  height: 100%;
  min-height: 50px;
  color: var(--text-color) ;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: var(--sidebar-color);
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;

}

.add-task:hover{
  background-color: var(--primary-color-light);
}

.listbtn .addTask{
  position: absolute;
  top: 50%;
  left: 95px;
  transform: translateY(-50%);
  font-size: 15px;
  color: var(--color-icon);
  pointer-events: none;
}

.home_container .input-task{
  /* color: var(--text-color); */
  position: relative;
  height: 40px;
  width: 100%;
}

.input-task textarea{
  color: var(--text-color);
  height: 100%;
  max-width: 210px;
  width: 100%;
  background-color: var(--sidebar-color);
  outline: none;
  font-size: 15px;
  font-weight: 400;
  border-radius: 8px;
  padding: 10px;
  margin-left: 10px;
  border: 0px solid var(--primary-color-light);
  resize: none;
}

.input-task textarea:focus{
  background-color: var(--primary-color-light);
}

.input-task textarea:focus ~ .note-icon{
  color: var(--text-color)
}

.list input:checked ~ .input-task textarea{
  text-decoration: line-through;
}


.todoList .list .task{
  margin: 0 30px 0 15px;
  word-break: break-all;
  color: var(--text-color);
}

.todoList .pending input{
  background-color: red;
  width: 50px;
  min-height: 50px;
}

.popup_text{
  font-size: 30px;
  font-weight: bolderон про;
}