<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Diplom</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style_main.css') }}"
    />
  </head>

  <body class="{{ user_data.user_theme }}">
    <nav class="navbar">
      <div class="nav-search-box">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
        <input type="text" name="SerachNav" placeholder="Search..." />
      </div>
      <a href="#" class="logo">DiplomProject</a>
      <ul class="nav-links">
        <i class="fa-solid fa-xmark navCloseBtn"></i>
        <li>
          <a href="#">
            <i class="fa-solid fa-house icon asdasd"></i>
            <span class="text">Home</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-house icon"></i>
            <span class="text">one</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-house icon"></i>
            <span class="text">two</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-house icon"></i>
            <span class="text">three</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-house icon"></i>
            <span class="text">four</span>
          </a>
        </li>
      </ul>
      <i class="fa-solid fa-magnifying-glass search-icon-1" id="searchIcon"></i>
      <i class="fa-solid fa-bars navOpenBtn"></i>
    </nav>
    <nav class="sidebar close">
      <header id="header">
        <div class="image-text">
          <span class="image-container">
            {% if user_data.user_avatar %}
            <a href="#popup">
              <img
                id="preview-image"
                class="rounded-image"
                src="{{ url_for('static', filename=user_data.user_avatar) }}"
                alt="Logo"
              />
            </a>
            {% else %}
            <a href="#popup">
              <img
                src="{{ url_for('static', filename='avatars/logo.png') }}"
                alt="Logo"
              />
            </a>
            {% endif %}
          </span>
          <div class="text header-text">
            <a href="#popup">
              <span class="name"
                >{{user_data.user_name}} {{user_data.user_surname}} </span
              ><br />
              <span class="proffesion">{{user_data.user_qualification}}</span>
            </a>
          </div>
        </div>
        <i class="fa-solid fa-chevron-right toggle"></i>
      </header>
      <div class="menu-bar">
        <div class="menu">
          <li class="search-box">
            <i class="fa-solid fa-magnifying-glass icon"></i>
            <input type="text" name="search" placeholder="Search..." />
          </li>
          <ul class="menu-links">
            <li class="nav-link">
              <a href="#">
                <i class="fa-solid fa-house icon"></i>
                <span class="text nav-text">All Boards</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#home_1">
                <i class="fa-solid fa-briefcase icon"></i>
                <span class="text nav-text">Overall Projects</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class="fa-solid fa-list-check icon"></i>
                <span class="text nav-text">Active Projects</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class="fa-solid fa-box-archive icon"></i>
                <span class="text nav-text">Archive Projects</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="bottom-content">
          <li class="">
            <a href="/logout">
              <i class="fa-solid fa-arrow-right-from-bracket icon"></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>
          <form action="/save_theme" method="post">
            <li class="mode">
              <div class="moon-sun">
                <i class="fa-regular fa-moon icon moon"></i>
                <i class="fa-regular fa-sun icon sun"></i>
              </div>
              <span class="mode-text text">Dark Mode</span>
              <div class="toggle-switch">
                <span class="switch"></span>
              </div>
            </li>
          </form>
        </div>
      </div>
    </nav>
    <section class="home board" id="home">
      <!-- здесь находятся секции home_container-->

      <div class="add_section">
        <button class="add-section">Добавить секцию</button>
      </div>
    </section>

    <section class="home_1" id="home_1">
      <div class="text">Сайт для GTA-5</div>
    </section>
    <div id="popup" class="popup">
      <a href="#header" class="popup__area"></a>
      <div class="popup__body">
        <div class="popup__content">
          <p class="popup_text">Profile Settings</p>
          <p>
            <a href="#header" class="popup__close"
              ><i class="fa-solid fa-xmark icon"></i
            ></a>
          </p>

          <div class="popup__title">Choose Your Avatar</div>
          <form
            id="upload-form"
            action="/upload_avatar"
            method="post"
            enctype="multipart/form-data"
          >
            <label for="avatar" class="file-upload-label">
              <img
                id="preview-image"
                src="{{ url_for('static', filename=user_data.user_avatar) }}"
                alt="Choose File"
              />
            </label>
            <input
              type="file"
              name="avatar"
              id="avatar"
              accept="image/*"
              required
              style="display: none"
            />
          </form>
          <div class="popup__title">Settings</div>
          <form action="/about_info" method="post">
            <div class="popup__text">
              <div class="input-box">
                <input
                  type="text"
                  class="name"
                  name="name-new"
                  id="name-new"
                  value="{{ user_data.user_name }}"
                  placeholder="Your Name"
                />
              </div>
              <div class="input-box">
                <input
                  type="text"
                  class="surname"
                  name="surname-new"
                  id="surname-new"
                  value="{{ user_data.user_surname }}"
                  placeholder="Your Surname"
                />
              </div>
              <div class="input-box">
                <input
                  type="text"
                  class="text"
                  name="about"
                  id="about"
                  value="{{ user_data.user_about }}"
                  placeholder="About"
                />
              </div>
              <button name="action" class="btn btn-success" type="submit">
                Save
              </button>
            </div>
          </form>
          <div class="popup__title">Switch Password</div>
          <form action="/pass_switch" method="post">
            <div class="popup__text">
              <div class="input-box">
                <input
                  type="password"
                  class="pass"
                  name="password-old"
                  id="password-old"
                  placeholder="Your Old Password"
                />
              </div>
              <div class="input-box">
                <input
                  type="password"
                  class="pass"
                  name="password-new"
                  id="password-new"
                  placeholder="Your New Password"
                />
              </div>
              <div class="input-box">
                <input
                  type="password"
                  class="pass"
                  name="password-new-repeated"
                  id="password-new-repeated"
                  placeholder="Repeat Your New Password"
                />
              </div>
              <button name="action" class="btn btn-success" type="submit">
                Switch Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <script
      defer
      type="module"
      src="{{ url_for('static', filename='js/main_script.js') }}"
    ></script>
<!--     <script
      defer
      type="module"
      src="{{ url_for('static', filename='js/dnd.js') }}"
    ></script>
    <script
      defer
      type="module"
      src="{{ url_for('static', filename='js/dnd-tasks.js') }}"
    ></script>      
    <script
      defer
      type="module"
      src="{{ url_for('static', filename='js/dnd-columns.js') }}"
    ></script> -->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>
